body {
    background-color: black;
}
div {
    width: 30%;
    height: 30%;
    padding: 10px;
    margin: 20% 60%;;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}
input, button {
    width: 95%;
    height: 20%;
    margin: 2px;
}
input:hover {
    background-color: #e8effa;
}

#s {
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

p {
    font-size: 30px;
    color: white;
}


@media screen and (min-width: 0) and (max-width: 768px) {
    div {
        width: 50%;
        height: 25%;
        padding: 10;
        margin: 20% 40%;
        border-width: 1px;
        border-color: grey;
        border-style: solid;
    }
}